<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
        <a class="nav-link" routerLink="books">Livres</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a class="nav-link" routerLink="auth/signin">Connexion</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
        <a class="nav-link" routerLink="posts">blog</a>
      </li>
      <li class="nav-item" *ngIf="isAuth">
        <a class="nav-link" (click)="onSignOut()">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
