<div class="row">
    <div class="col-xs-12">
        <img [src]="book.photo" style="max-width: 400px;" *ngIf="book.photo" alt="">
        <h1>Titre: {{book.title | uppercase}}</h1>
        <h3>Auteur: {{book.author | titlecase}}</h3>
        <p *ngIf="book.synopsis">{{book.synopsis}}</p>
        <button type="button" class="btn btn-secondary" (click)="onBack()">Retour</button>
    </div>
</div>