<div class="row">
  <form [formGroup]="postForm" (ngSubmit)="onSave()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input
        type="text"
        id="title"
        class="form-control"
        placeholder=""
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <label for="content">Contenu</label>
      <input
        type="text"
        id="content"
        class="form-control"
        placeholder=""
        formControlName="content"
      />
    </div>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid" >Enregister</button>
      </li>
      <li class="list-group-item">
        <button type="reset" class="btn btn-danger">Annuler</button>
      </li>
    </ul>
  </form>
</div>
