<div class="row">
  <div class="col-sm-8 offest-sm-2">
    <h2>Enregister un nouveau livre</h2>
    <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          id="title"
          class="form-control"
          placeholder="Entrez le titre"
          formControlName="title"
        />
      </div>
      <div class="form-group">
        <label for="author">Auteur</label>
        <input
          type="text"
          id="author"
          formControlName="author"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea
          formControlName="synopsis"
          id="synopsis"
          class="form-control"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div class="form-group">
        <h4>Ajouter une photo</h4>
        <input type="file" class="form-control" (change)="detectFiles($event)">
        <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
      </div>
      <button type="submit" [disabled]="bookForm.invalid || fileIsUploading">Enregistrer</button>
      <button type="button" class="btn btn-secondary" (click)="onGoBack()">Annuler</button>
    </form>
  </div>
</div>
