<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h2>Créer un compte</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adress email : </label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="signupForm.invalid"
      >
        Créer mon compte
      </button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
