<div class="row">
  <h3>Créer un nouveau post</h3>
  <div class="form-group">
    <button class="btn btn-primary form-control" (click)="onAddNewPost()">
      Ajouter
    </button>
  </div>
  <ul class="list-group">
    <app-post-list-item
      *ngFor="let post of posts; let i = index"
      [title]="post.title"
      [content]="post.content"
      [loveIts]="post.loveIts"
      [dontLoveIts]="post.dontLoveIts"
      [index]="i"
    ></app-post-list-item>
  </ul>
</div>
