<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': index % 2 == 0,
    'list-group-item-danger': index % 2 != 0
  }"
>
  <h4 class="text-center">Le titre: {{ title }}</h4>
  <p>{{ content }}</p>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">
      <button class="btn btn-success" (click)="onLove()">Love: {{ loveIts }}</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-warning" (click)="onDontLove()" >Don't love: {{ dontLoveIts}}</button>
    </li>
  </ul>
</li>
